---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $whiteish;
  font: 14px/1.4 $opensans;
  color: $darkGray;
  height: 100;
}

.container {
  //margin: 0 auto;
  //max-width: 740px;
  //height: 100%;
  height: auto !important;
  //min-height: 100%;
  max-width: 740px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center
  //padding: 0 0
}

h1, h2, h3, h4, h5, h6 {
  font-family: $oswald;
  --color: $darkerGray;
  color: $darkerGray;
  --font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $greenpullman;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  max-width: 740px;
  margin: auto;
}

.masthead {
  padding: 20px 0;
  //border-bottom: 1px solid $greenpullman;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  --color: $darkGray;
  color: $smokyblack;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $artichokeGrey;
  font-family: $charmonman;
  font-style: italic;
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $oswald;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $smokyblack;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $smokyblack;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    max-width:740px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

// for gallery.html layout (portfolio home)
.c-hero-flex {
  display: flex;
  //flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  height: auto;
  height: 26.6vh;
  //width: 100vw;
  //height:330px
  //width: 960px
  //gmax-width: 
  @media(max-width: 960px)
  {
    flex-flow: row wrap;
    &__item {
      width: 100%;
    }
  }
      
  &__item {
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap:wrap;
    background: $whiteish;
    min-width: 240px;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
    transition: .2s all;
    cursor: pointer;
    @media (min-width: 961px)
    {
      height: 100%;
    }
        
    &:hover {
      flex-grow: 2;
      box-shadow: inset 0 0 0 100vmax rgba(175,0,100,.7);
    }
        
    &:nth-child(1) {
      //background: rgb(255, 255, 255) url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
      background:  $whiteish url(https://images.unsplash.com/photo-1522152182715-35f0a8691e58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b2bc7431487cd0b04629783010d7828&auto=format&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(2) {
      background: $whiteish url(https://images.unsplash.com/photo-1527236452906-e71c76a08afb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e70a4da3db8e2323394e471c3970172f&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(3) {
      background: $whiteish url(https://images.unsplash.com/photo-1517840600399-c7c2ff4c0fb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37ec58178cf97ba7b519de73462f3414&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
    &:nth-child(4) {
      //background: rgb(255, 255, 255) url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
      background:  $whiteish url(https://images.unsplash.com/photo-1515923152115-758a6b16f35e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f98884cb9d46b995a20f87abe724d9e&auto=format&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(5) {
      background: $whiteish url(https://images.unsplash.com/photo-1527660159201-ff36a370b974?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4612b34526ce87a2fd57999231198f4&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(6) {
      background: $whiteish url(https://images.unsplash.com/photo-1487552292919-eccbbd948cba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bac2fc9e8ceb0bfbf0408e53175608df&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
    &:nth-child(7) {
      //background: rgb(255, 255, 255) url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
      background:  $whiteish url(https://images.unsplash.com/photo-1498721454196-e1fe723c0374?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=235d2d01c6ccc6baee15d0bc84edde9b&auto=format&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(8) {
      background: $whiteish url(https://images.unsplash.com/photo-1527236452906-e71c76a08afb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e70a4da3db8e2323394e471c3970172f&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
        
    &:nth-child(9) {
      background: $whiteish url(https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bd6b04e0df67961667414e72ddf084&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    }
  }
      
  &__title {
    text-transform: uppercase;
    letter-spacing: .075em;
    font-size: 20px;
    color: #fff;
    transition: .2s all;
  }
}

.wrapper-footer, .c-hero-flex:after {
  margin-top: 50px;
  max-width: 740px;
  margin-left: auto;
  margin-right:auto;
  flex-shrink: 0;
  //border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;
  background-color: $whiteish;
}

footer {
  //display: flex
  //justify-content: center;
  //align-items: center;
  //padding: 0 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
