
//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css?family=Garamond');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Charmonman');

// Colors

// blue
$blue: #4183C4;

// green
$greenjunebud: #C5D86D;
$greenpullman: #30321C;

// reds
$redflame: #F15025;
$redcopper: #C06E52;

// lights
$lighttuscan: #F7DBA7;
$lightcosmic: #FFFAE2;

// greys
$artichokeGrey: #92977E;

// darks
$eerieblack: #1E1B18;
$smokyblack: #090909;

// basic grey scale
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$whiteish: #f5f5f5; 
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$garamond: Garamond;
$oswald: Oswald;
$manus: Manus;
$opensans: "Open Sans";
$charmonman: "Charmonman";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
