---
layout: default
published: true
---
<article class="gallery">
    <section class="c-hero-flex">
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">1</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">0</h2>
        </a>

        <!-- 

        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">Doodle Recognition Challenge</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">Spotify Temporal Pattern SVM</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">NeuroPi Emotion Detection</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">Doodle Recognition Challenge</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">Spotify Temporal Pattern SVM</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">NeuroPi Emotion Detection</h2>
        </a>
        <a class="c-hero-flex__item">
            <h2 class="c-hero-flex__title">Doodle Recognition Challenge</h2>

        </a>
        --> 
    </section>
</article>
